{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .modal {
    z-index: 9999;
    overflow: scroll;
  }

  a {
    color: rgb(211, 204, 198);
  }

  a:hover {
    color: rgb(214, 141, 5);
  }

  tr:hover {
    background-color: #92929242;
    font-weight: bold;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(252, 236, 217);

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #selected-area {
    font-size: 20px;
  }



  /* .......................................... search box1.............. */
  .select-box1 {
    position: relative;
  }

  .select-option1 {
    position: relative;
  }

  .select-option1 input {
    width: 100%;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 7px;
    padding: 10px 15px;
    border: 0 !important;
    outline: 0 !important;
  }

  .select-option1:after {
    content: "";
    border-top: 12px solid #000;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;

  }

  .content1 {
    background-color: white;
    position: absolute;
    color: black;
    border-radius: 7px;
    margin-top: 15px;
    width: 100%;
    z-index: 999;
    padding: 20px;
    display: none;
  }

  .search1 input {
    width: 100%;
    font-size: 17px;
    padding: 15px;
    outline: 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
  }

  .options1 {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: scroll;
    padding: 0;
  }

  /* .options1::-webkit-scrollbar{
      width: 5px;
     
    } */
  .options1 li {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 1px solid gray;
  }

  .select-box1.active .content1 {
    display: block;
  }

  .select-box1.active .select-option1:after {
    transform: rotate(-180deg);
  }
</style>

<div class="row">
  <div class="col-sm-12 ">
    <h1>
      Chart Of Accounts
    </h1>

  </div>
</div>
<div class="row container-fluid mb-3">
  <div class="col-md-3">
    <input type="text" id="myyInput" onkeyup="myyFunction()" class="form-control bg-light text-dark"
      placeholder="Search.." autocomplete="off">
  </div>
  <div class="col-md-2">
    <div class="dropdown">
      <a class="btn text-center px-4 pt-2 btn-outline-warning" id="sortbutton" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" role="button">
        <i class="fas fa-sort m-1"></i>
      </a>
      <div class="dropdown-menu m-1">
        <a class="dropdown-item" href="{% url 'view_chart_of_accounts_all' %}">All</a>
        <a class="dropdown-item" onclick="sortTableName()">Account Name</a>
      </div>
    </div>
  </div>
  <script>
    function sortTableName() {
      var table = $("#myTable");
      var rows = table.find('tbody > tr').get();
  
      rows.sort(function(a, b) {
          var A = $(a).find('td').eq(0).text().toLowerCase();
          var B = $(b).find('td').eq(0).text().toLowerCase();
  
          if (A < B) {
              return -1;
          }
  
          if (A > B) {
              return 1;
          }
  
          return 0;
      });
  
      $.each(rows, function(index, row) {
          table.children('tbody').append(row);
      });
  }
  
</script>
  
  <script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
  
  
  <script>
    var $rows = $('table tbody tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.hide().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return ~text.indexOf(val);
        }).show();
    });
</script>
<div class="col-md-4"></div>
<div class="col-md-3">
  <div class="dropdown d-flex">
    <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" role="button">
      <i class="fa fa-filter mt-1"></i>
    </a>
    <div class="dropdown-menu m-1">
      <a class="dropdown-item filter-option" href="#" data-filter="all">All</a>
      <a class="dropdown-item filter-option" href="#" data-filter="active">Active</a>
      <a class="dropdown-item filter-option" href="#" data-filter="inactive">Inactive</a>
    </div>
    <a style="height: 5vh; margin-left: 2vh;" class="btn btn-outline-warning text-right px-3 py-2" role="button"
      style="margin-left: 5px;" href="{% url 'create_new_chart_of_account' %}">
      <i class="fa fa-plus" style="font-size: large;"></i><span style="font-size: 3vh;">New</span>
    </a>
  </div>
</div>

<script>
  $(document).ready(function () {
    var $table = $("#myTable");
  
    $(".filter-option").on("click", function (e) {
      e.preventDefault();
  
      var filterValue = $(this).data("filter");
  
      switch (filterValue) {
        case "all":
          $table.find("tr").show();
          break;
        case "active":
          $table.find("tr[data-status='active']").show();
          $table.find("tr:not([data-status='active'])").hide();
          break;
        case "inactive":
          $table.find("tr[data-status='inactive']").show();
          $table.find("tr:not([data-status='inactive'])").hide();
          break;
      }
    });
  });
  
</script>

<div class="row mt-4">
  <div class="col-sm-12">
    <table class="table table-responsive " id="myTable" style="text-align: left;">
      <thead>
        <tr>
          <th class="text-warning">Account Name</th>
          <th class="text-warning">Account Type</th>
          <th class="text-warning">Account Code</th>
          <th class="text-warning">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for v in view %}

        <tr data-status="{{v.status}}">
         

          {% if v.parent_account == "GST Payable" %}
          <td class="text-light">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img width="20" height="10" src="https://img.icons8.com/nolan/64/arrow.png" alt="arrow" />
            <a href="{% url 'chartofaccount_view' v.id%}">{{v.account_name}}</a>
          </td>
          {% endif %}
          {% if v.parent_account == "Input Tax Credits" %}
          <td class="text-light">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img width="20" height="10" src="https://img.icons8.com/nolan/64/arrow.png" alt="arrow" />
            <a href="{% url 'chartofaccount_view' v.id%}">{{v.account_name}}</a>
          </td>
          {% endif %}
          {% if v.parent_account != "Input Tax Credits" %}
          {% if v.parent_account != "GST Payable" %}

          {% if v.account_name == "GST Payable" or v.account_name == "Input Tax Credits" %}
          <td class="text-light">
            <img width="5" height="5" src="https://img.icons8.com/avantgarde/100/folder-invoices.png"
              alt="folder-invoices" />

            <a href="{% url 'chartofaccount_view' v.id%}">{{v.account_name}}</a>
          </td>
          {% else %}
          <td class="text-light"><a href="{% url 'chartofaccount_view' v.id%}">{{v.account_name}}</a> </td>
          {% endif %}

          {% endif %}
          {% endif %}



          <td class="text-light">{{v.account_type}}</td>
          <td class="text-light">{{v.account_code}}</td>
          <td class="text-light">
            {% if v.status == "active" %}
            <input type="radio" title="active" style="accent-color: rgb(4, 209, 4);" checked readonly>
            {% else %}
            <input type="radio" title="inactive" style="accent-color: red;" checked readonly>
            {% endif %}
            {{v.status}}
          </td>




        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>







<script>
  function filterFunction1() {
    var input, filter, ul, li, a, i, b, j;
    input = document.getElementById("myInput1");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown1");
    a = div.getElementsByClassName('opt');
    // a = div.getElementsByTagName('div');

    b = div.getElementsByTagName('li');

    for (i = 0; i < a.length; i++) {
      txtValue = a[i].textContent || a[i].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        a[i].style.display = "";
      }
      else {
        a[i].style.display = "none";
      }
    }
    for (j = 0; j < b.length; j++) {
      txtValue = b[j].textContent || b[j].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        b[j].style.display = "";
      }
      else {
        b[j].style.display = "none";
      }
    }

  }
</script>



<script>
  function myyFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myyInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        }
        else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous">
</script>

{% endblock %}