{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fulid p-3">
    <h3 class="mb-3  text-white " style="font-size: 2rem;">Add Holiday</h3><br>
    <form method="post" id="project-form" action="{% url 'add_holiday' %}" enctype="multipart/form-data" class="">
        {% csrf_token %}
    
    
        <div class=" form-group row">
          <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
            <label>Title</label>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <input type="text" class="form-control bg-light text-dark" name="title" required>
            <div class="invalid-feedback">Please fill out this field.</div>
    
          </div>
          
        </div>
        <div class=" form-group row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
              <label>Start Date</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <input type="date" class="form-control bg-light text-dark" name="start" required>
              <div class="invalid-feedback">Please fill out this field.</div>
      
            </div>
            
          </div>
          <div class=" form-group row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-form-label">
              <label>End Date</label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <input type="date" class="form-control bg-light text-dark" name="end" required>
              <div class="invalid-feedback">Please fill out this field.</div>
      
            </div>
            
          </div>
          <div class="row mt-3">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label>Agree to terms and conditions</label>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                </div>
            </div>
        </div>
      
<hr>


        <button type="submit" class="btn text-white" style="background-color: rgb(210, 132, 30);"
      id="save-btn">Save</button>
    <button type="reset" class="btn text-white" style="background-color: rgb(210, 132, 30);"
      id="cancel-btn">Cancel</button>
    </form>
    
</div>

<script>
  $(document).ready(function () {
      $('#project-form').submit(function (event) {
          event.preventDefault();  // Prevent the default form submission
  
          var startDate = $('input[name="start"]').val();
          var endDate = $('input[name="end"]').val();
  
          $.ajax({
              url: 'check_holi_dates',
              data: {
                  'start': startDate,
                  'end': endDate
              },
              dataType: 'json',
              success: function (data) {
                  if (data.error) {
                      alert(data.error);
                  } else {
                      // Proceed with form submission
                      $('#project-form')[0].submit();
                  }
              }
          });
      });
  });
  </script>

{% endblock %}