{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .modal {
    z-index: 9999;
    overflow: scroll;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .slip-page {
    background: #ffffff;
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  }

  .slip-page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
    overflow: hidden;
  }

  .equal-length-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* Make the container fill the height of the column */
    margin-left: 2vh;
    margin-right: 2vh;
  }

  .equal-length-item {
    flex: 1;
    text-align: center;
  }

  body {
    font-family: Arial, sans-serif;
    padding: 1px;
    margin: 0;
  }

  .store-user {
    padding-bottom: 25px;
  }

  .store-user p {
    margin: 0;
    font-weight: 600;
    color: #000000;
  }

  .store-user .address {
    font-weight: 400;
  }

  .store-user h5 {
    color: #22b8d1;
    font-family: 'Rajdhani', sans-serif;
  }

  .bb {
    border-bottom: 3px solid #ccc;
  }

  .top-content {
    padding-bottom: 15px;
  }

  .ribbon .ribbon-inner {
    text-align: center;
    color: #fff;
    top: -20px;
    left: -90px;
    width: 120px;
    padding: 3px;

  }

  .ribbon .ribbon-open {
    background-color: #268ddd;
    border-color: #1c72b4;
  }

  .template .ribbon .ribbon-open {
    background-color: #616263;
    border-color: #616263;
  }

  .top-left p {
    margin: 0;
    color: #000000;
  }

  .top-left .graphic-path {
    height: 40px;
    position: relative;
  }

  .top-left .graphic-path::before {
    content: "";
    height: 20px;
    background-color: #615c60;
    position: absolute;
    left: 15px;
    right: 0;
    top: -15px;
    z-index: 2;
  }

  .top-left .graphic-path::after {
    content: "";
    height: 22px;
    width: 17px;
    background: #000000;
    position: absolute;
    top: -13px;
    left: 6px;
    transform: rotate(45deg);
  }

  .template3 .top-left .graphic-path::before {
    background-color: #bbbbbb;
  }

  .template3 .top-left .graphic-path::after {
    background: #616263b3;
  }

  .top-left .graphic-path p {
    height: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    background-color: #22b8d1;
    font: 26px;
    z-index: 3;
    position: absolute;
    padding-left: 10px;
  }

  .template3 .top-left .graphic-path p {
    background-color: #616263;
    color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .logo img {
    max-height: 100px;
  }

  .company-info h2 {
    margin: 0;
    font-size: 2em;
    
  }

  .company-info p {
    margin: 0;
    line-height: 1.5;
  }

  .i.invoice-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .invoice-box h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .invoice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .invoice-details p,
  .client-details p {
    margin: 5px 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #th {
    background-color: #f2f2f2;
    color: black;
  }

  .invoice-total {
    margin-top: 20px;
    text-align: right;
  }

  .invoice-total p {
    margin: 5px 0;
  }

  footer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: 20px;
  }

  footer p {
    margin: 5px 0;
  }

  .dropdown-item:hover {
    color: chocolate;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .saleordertable {
    border-collapse: collapse;
    /* Collapse table borders */
    border: none;
    /* Remove table border */
  }

  .saleordertable td {
    border: none;
    /* Remove cell borders */
    padding: 8px;
    /* Add padding for cell content */
    text-align: left;
    /* Optional: Adjust text alignment */
  }

  #producttable {
    border-collapse: collapse;
    /* Collapse table borders */
    border: none;
    /* Remove table border */
    color: white;
  }

  #producttable td {
    border: none;
    /* Remove cell borders */
    padding: 8px;
    /* Add padding for cell content */
    text-align: left;
    /* Optional: Adjust text alignment */
  }

  tr.clickable {
    cursor: pointer;
  }


  @media print {

    .unwanted,
    .sidebar,
    .sectionhtml {
      display: none !important;
    }

    body {
      visibility: hidden !important;
    }

    html {
      overflow: hidden ! important;
      visibility: hidden !important;
    }


    .printContainer {
      visibility: visible !important;
      /* Override the rule above to only show the printables*/
      z-index: 99999;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }



  }

  .scrollable-table {
    max-height: 80%;
    /* Maximum height for the tooltip */
    overflow-y: auto;
    /* Add vertical scrollbar when content overflows */
  }

  /* Style for the container */


  /* Style for table cell */
  .table-cell {
    padding: 5px;
  }
</style>

<section>
  <div class="row " style="top: 7rem; ">

    <div>
      <div class="col-md-12" style="width: auto;">
        <div class="row">
          <div class="col-md-3" style="border-right: 1px solid white; overflow-y: scroll; height: 84vh;">
            <div class="row">
              <a class="text-white" style="font-size: 1.5rem;">Salary details</a>
              <div class="col-md-9">
                <input type="text" id="search" class="form-control bg-light text-dark mt-2 " placeholder="Search.."
                  autocomplete="off">
              </div>
              <div class="col-md-3 ">
                <a class="btn btn btn-outline-warning text-right mt-2"
                  style="height: 38px; padding-top: 12px; padding-left: 17px;" href="{% url 'create_salary' %}"><i
                    class="fa fa-plus "></i></a>
              </div>
              <div class="col-md-2">
                <div class="dropdown">
                  <a class="btn text-center  mt-2 btn-outline-warning" id="sortbutton" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" role="button" style="margin-left: 0px; height: 38px;">
                    <i class="fas fa-sort m-1"></i>
                  </a>
                  <div class="dropdown-menu m-1">
                    <a class="dropdown-item" href="{% url 'salary_deatils' sale.id %}">All</a>
                    <a class="dropdown-item" onclick="sortTable()"> Name</a>
                    <a class="dropdown-item" onclick="sortTablebybillno()">Month</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="dropdown">
                  <a class="btn text-center mt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" role="button" style="margin-left: 0px; height: 38px;">
                    <i class="fa fa-filter mt-1"></i>
                  </a>
                  <div class="dropdown-menu m-1">
                    <a class="dropdown-item" href="{% url 'salary_deatils' sale.id %}">All</a>
                    <a class="dropdown-item" href="{% url 'salary_deatils_draft' sale.id %}">Draft</a>
                    <a class="dropdown-item" href="{% url 'salary_deatils_save' sale.id %}">Save</a>
                  </div>

                </div>
              </div>
              
              <div class="col-md-6"></div>

            </div>

            <div class="scrollable-table">
              <table class="table  text-white" id="myTable">

                <tbody>
                  {% for sale in sale_order %}

                  <tr class="clickable" id="{{sale.id}}">

                    <td class="justify-content-between align-items-center ">
                      <label>{{sale.employee_name.first_name}} {{sale.employee_name.last_name}} </label>
                      <h6>{{sale.status}}</h6>
                    </td>
                    <td>
                      
                      <p>{{sale.employee_month}}</p>
                      <h6>{{sale.employee_Tsalary}}</h6>
                      

                    </td>
                  </tr>

                  {% endfor %}

                </tbody>
              </table>
            </div>


          </div>

          <div class="col-md-9 ml-1  mb-5 " id="overviewdiv">
            <div class="row">
              <div class="col-md-7">
                <a class="text-white" style="font-size: 1.5rem;">
                  <h2>{{sale.employee_name.first_name}} {{sale.employee_name.last_name}}</h2>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <a class="btn" style="background-color: chocolate; margin-right: 2vh;"><i class="fas fa-eye"></i>
                  Overview</a>
                <a href=" " class=" btn fa fa-file-alt" data-bs-toggle="dropdown" id="attachmentDropdown"
                  aria-haspopup="true" aria-expanded="false"
                  style="background-color: white; color: black; margin-right: 2vh;" onclick="totemplate()"> PaySlip
                </a>
             

              </div>

              <div class="col-md-6" style="text-align: center;">
                {% if sale.status == "draft" %}
                <a href="{% url 'convert_viewsalary' sale.id %}" class="btn btn-outline-warning" title="Save">
                  <i class="fa fa-save" aria-hidden="true"></i>
                </a>
                {% endif %}
                <a href="{% url 'edit_salary' sale.id %}" class=" text-dark">
                  <button class="btn btn-outline-warning" title="Edit"><i class="fas fa-edit"></i></button>
                </a>
                <a class="text-dark" data-toggle="dropdown">
                  <button class="btn btn-outline-warning " title="Share"><i class="fas fa-share"></i></button>
                </a>
                <div class="dropdown-menu ">
                  <a class="dropdown-item" data-target="#shareBillEmail" data-toggle="modal">GMAIL</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="shareOnWhatsApp()">WhatsApp</a>
                </div>
                <a href="{% url 'delet_salary' sale.id %}" class="  text-dark">
                  <button class="btn btn-outline-warning" title="Delete"><i class="fas fa-trash-alt"></i></button>
                </a>
                <a class="  text-dark" onclick="exportToPDF()">
                  <button class="btn btn-outline-warning" title="Pdf"><i class="fas fa-file-pdf-o"></i></button>
                </a>
                <a class=" text-dark" onclick="printSelectedArea()">
                  <button class="btn btn-outline-warning" title="Print"><i class="fas fa-print"></i>
                  </button>
                </a>
              </div>
            </div><br>

            <div class="row" id="div-to-pdf"
              style="background-color: #ffddb0;  height: auto; margin-left:1px; margin-right: 1rem; ">

              <div class="row text-center">
                <h2 style="color: #000000;"><br>Salary Details
                  <hr>
                </h2>
              </div>
              <div class="gen-info col-6 " style="padding-left: 3rem; overflow-y: scroll; ">
                <div class="row mt-1">
                  <div class="col-5"><label class="text-dark" for="">Employee Name :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_name.first_name}} {{sale.employee_name.last_name}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Employee Number</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_id}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Employe Mail :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">
                      {{sale.employee_mail}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Desigination :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">
                      {{sale.Desigination}}</p>
                  </div>
                </div>
                
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">joindate :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">
                      {{sale.employee_joindate}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Salary Date:</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_salarydate}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                    <div class="col-5"><label class="text-dark" for="">Month :</label></div>
                    <div class="col-7">
                      <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_month}}</p>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-5"><label class="text-dark" for="">Year :</label></div>
                    <div class="col-7">
                      <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_year}}</p>
                    </div>
                  </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Casual Leave :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_casual_leave}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for="">Leave :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_leave}}</p>
                  </div>
                </div>
   
                <div class="row mt-3">
                  <div class="col-5"><label class="text-dark" for=""> Discription :</label></div>
                  <div class="col-7">
                    <p class="bold text-dark" style="max-width: 15rem;word-wrap: break-word;">{{sale.employee_discription}}</p>
                  </div>
                </div>
              </div>
              <div class="p-info col-6" style="height: 100%; margin-bottom: 1vh;">
                <div class="card" style="background-color: rgb(110, 61, 46); padding-left: 1rem; padding-top: 1rem;">
                  <div class="row text-center">
                    <h2>SALARY INFORMATION
                      <hr>
                    </h2>
                  </div>
                  
  
                  <div class="row mt-2">
                    <div class="col-5"><label  for="">salary :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_salary}}</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-5"><label  for="">Basicsalary :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_basicsalary}}</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-5"><label  for="">Allowance :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_Allowance}}</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-5"><label  for="">HRA :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_HRA}}</p>
                    </div>
                  </div>
  
                  <div class="row mt-2">
                    <div class="col-5"><label  for=""> Other Allowance :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_otherall}}</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-5"><label  for="">Bonus :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_Bonus}}</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-5"><label  for="">OtherCuttings :</label></div>
                    <div class="col-5">
                      <p class="bold">
                        {{sale.employee_othercuttings}}</p>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-5"><label for="">Total Amount :</label></div>
                    <div class="col-7">
                      <p class="bold " >{{sale.employee_Tsalary}}</p>
                    </div>
                  </div>
                </div><br>
              </div>
            </div>
          

          </div>

         
          <div class="col-md-9" id="templatediv" style="display: none;">
            <div class="row">
              <div class="col-md-7">
                <a class="text-white" style="font-size: 1.5rem;">
                  <h2>{{sale.employee_name.first_name}} {{sale.employee_name.last_name}}</h2>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
          

              </div>

              <div class="col-md-6" style="text-align: center;">
                {% if sale.status == "draft" %}
                <a href="{% url 'convert_view' sale.id %}" class="btn btn-outline-warning" title="Save">
                  <i class="fa fa-save" aria-hidden="true"></i>
                </a>
                {% endif %}
                <a href="{% url 'edit_salary' sale.id %}" class=" text-dark">
                  <button class="btn btn-outline-warning" title="Edit"><i class="fas fa-edit"></i></button>
                </a>
                <a class="text-dark" data-toggle="dropdown">
                  <button class="btn btn-outline-warning " title="Share"><i class="fas fa-share"></i></button>
                </a>
                <div class="dropdown-menu ">
                  <a class="dropdown-item" data-target="#shareBillEmail" data-toggle="modal">GMAIL</a>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="shareOnWhatsApp()">WhatsApp</a>
                </div>

                <a href="{% url 'delet_salary' sale.id %}" class="  text-dark">
                  <button class="btn btn-outline-warning" title="Delete"><i class="fas fa-trash-alt"></i></button>
                </a>
                <a class="  text-dark" onclick="exportToPDF()">
                  <button class="btn btn-outline-warning" title="Pdf"><i class="fas fa-file-pdf-o"></i></button>
                </a>
                <a class=" text-dark" onclick="printSelectedArea()">
                  <button class="btn btn-outline-warning" title="Print"><i class="fas fa-print"></i>
                  </button>
                </a>
              </div>
            </div>

 
            <div class="mt-3 template2 whatToPrint2" style="height: auto;width: 100%; margin-left: -1vh">

              <section id="selected-area" style="background-color: rgb(255, 255, 255);height: auto;" class=" p-2 m-2">

                <div class="invoice-box">
                  <h1 class="text-dark" style="text-align: center;">Pay Slip</h1>
                    <div  class="company-info" style="text-align: center;">
                      <h5 class="text-dark">{{company.company_name}}</h5>
                      <p class="text-dark"> {{company.address}},{{company.city}}</p>
                      <p  class="text-dark"> {{company.contact_number}} ,{{company.company_email}}</p>
                    
                      <img class="ml-2" width="100rem" style="border-radius: 50%;" src="{% static 'images/zlogo.png' %}"
                      alt="Company Logo">
                    </div>
                  
                  <div class="invoice-header">
                    <div class="invoice-details text-dark">
                      <table>
                        <tr>
                          <td class="table-cell text-black" style="border: none;">Employee name</td>
                          <td class="table-cell text-black" style="border: none;">:</td>
                          <td class="table-cell text-black" style="border: none;">{{sale.employee_name.first_name}}{{sale.employee_name.last_name}}</td>
                        </tr>
                        <tr>
                          <td class="table-cell text-black" style="border: none;">Employee ID</td>
                          <td class="table-cell text-black" style="border: none;">:</td>
                          <td class="table-cell text-black" style="border: none;">{{sale.employee_id}}</td>
                        </tr>
                        <tr>
                          <td class="table-cell text-black" style="border: none;">Desigination</td>
                          <td class="table-cell text-black" style="border: none;">:</td>
                          <td class="table-cell text-black" style="border: none;">{{sale.Desigination}}</td>
                        </tr>
                        <tr>
                          <td class="table-cell text-black" style="border: none;">Date of joining</td>
                          <td class="table-cell text-black" style="border: none;">:</td>
                          <td class="table-cell text-black" style="border: none;">{{sale.employee_joindate}}</td>
                        </tr>
      
                      </table>
                    
                    </div>
                    <div class="invoice-details" style="width: 50vh;">
                      <table>
                          <tr>
                            <td class="table-cell text-black" style="border: none;">Month</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{sale.employee_month}}</td>
                          </tr>
                          <tr>
                            <td class="table-cell text-black" style="border: none;">leave taken </td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{sale.employee_leave}}</td>
                          </tr>
                          <tr>
                            <td class="table-cell text-black" style="border: none;">company location</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{sale.employee_name.location}}</td>
                          </tr>
                          <tr>
                            <td class="table-cell text-black" style="border: none;">working days</td>
                            <td class="table-cell text-black" style="border: none;">:</td>
                            <td class="table-cell text-black" style="border: none;">{{sale.employee_workingday}}</td>
                          </tr>
                      </table>
                    </div>
                  </div>
                  <table border="1" style="width:100%; color: #000000; border-collapse: collapse; margin: 0 auto;">
                    <tr>
                        <th>Particulars</th>
                        <th>Gross Amount (Rs)</th>
                        <th>Deduction Amount (Rs)</th>
                        <th>Amount (Rs)</th>
                    </tr>
                    <tr>
                      <td style="height: 100px; border-bottom: 0;">Basic Salary</td>
                      <td style="height: 100px;" id="basalary"></td>
                      <td style="height: 100px; border-bottom: 0;padding-left: 5cm;">Other Cuttings</td>
                      <td style="height: 100px;">{{ sale.employee_othercuttings }}</td>
                  </tr>
                  <tr>
                      <td style="height: 100px; border-bottom: 0;">Conveyance Allowance</td>
                      <td style="height: 100px;" id="salaryall"></td>
                      <td style="height: 100px; border-bottom: 0;"></td>
                      <td style="height: 100px;"></td>
                  </tr>
                  <tr>
                      <td style="height: 100px; border-bottom: 0;">HRA</td>
                      <td style="height: 100px;" id="salaryhra"></td>
                      <td style="height: 100px; border-bottom: 0;"></td>
                      <td style="height: 100px;"></td>
                  </tr>
                  <tr>
                      <td style="height: 100px; border-bottom: 0;">Other Allowance</td>
                      <td style="height: 100px;" id="salaryallo"></td>
                      <td style="height: 100px; border-bottom: 0;"></td>
                      <td style="height: 100px;"></td>
                  </tr>
                  
                    <tr>
                        <td style="height: 50px;">Bonus</td>
                        <td style="height: 50px;">{{sale.employee_Bonus}}</td>
                        <td style="height: 50px;">Total Deduction</td>
                        <td style="height: 50px;">{{sale.employee_othercuttings}}</td>
                    </tr>
                    <tr>
                        <td style="height: 50px;">Netsalary (rounded value)</td>
                        <td style="height: 50px;"></td>
                        
                        <td style="color: #090909; text-align: right;">
                          {{ sale.employee_Tsalary|floatformat:0 }}
                          <p style="color: #090909; text-align: right;" id="salaryCell">
                            {{ sale.employee_Tsalary|floatformat:0 }}
                          </p>
                      </td>
                      
                      
                    </tr>
                </table> 
                </div>
<input type="text" value="{{sale.employee_salary}}" hidden id="salary">
<input type="text" value="{{sale.employee_basicsalary}}" hidden id="bsalary">
<input type="text" value="{{sale.employee_Allowance}}" hidden id="Allowance">
<input type="text" value="{{sale.employee_HRA}}" hidden id="hra">
<input type="text" value="{{sale.employee_otherall}}" hidden id="otherall">
                <footer class="mb-5">
                  <p class="text-dark">&copy; Zho Books 2023 | Info park kakkanad kochi, Ernamkulam, kerala India 12345
                    | Phone: (123) 456-7890 | Email: info@zohodjango.com</p>
                </footer>
              </section>
            </div>
          </div>

       

         
            
                  <!-- Cart BG -->
                  <img src="cart.jpg" class="img-fluid cart-bg" alt="">

                  <!-- <footer>
                                  <hr>
                                  <p class="m-0 text-center">
                                      View THis Invoice Online At - <a href="#!"> invoice/saburbd.com/#868 </a>
                                  </p>
                                  <div class="social pt-3">
                                      <span class="pr-2">
                                          <i class="fas fa fa-mobile-alt"></i>
                                          <span>0123456789</span>
                                      </span>
                                      <span class="pr-2">
                                          <i class="fas fa fa-envelope"></i>
                                          <span>me@saburali.com</span>
                                      </span>
                                      <span class="pr-2">
                                          <i class="fab fa-facebook-f"></i>
                                          <span>/sabur.7264</span>
                                      </span>
                                      <span class="pr-2">
                                          <i class="fab fa-youtube"></i>
                                          <span>/abdussabur</span>
                                      </span>
                                      <span class="pr-2">
                                          <i class="fab fa-github"></i>
                                          <span>/example</span>
                                      </span>
                                  </div>
                              </footer> -->
                </div>
              </div>
            </div>

          </div>
          <!-- Share bill Modal -->
          <div class="modal fade" id="shareBillEmail">
            <div class="modal-dialog modal-xl">
              <div class="modal-content" style="background: rgb(32, 35, 37);border-radius: 20px;">
                <div class="modal-header" style="background: rgb(32, 35, 37);">
                  <h5 class="m-3 text-uppercase" id="shareBillEmailLabel">Share Sales Order Via Email</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="background: rgb(32, 35, 37);">
                  <div class="card p-3 m-3">
                    <form action="{% url 'shareSalesOrderToEmailsalary' sale.id %}" method="post" class="needs-validation"
                      id="share_to_email_form" autocomplete="off">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="emailIds">Email IDs</label>
                        <textarea class="form-control text-dark" name="email_ids" id="emailIds" rows="5"
                          placeholder="Multiple emails can be added by separating with a comma(,)." required></textarea>
                      </div>
                      <div class="form-group mt-2">
                        <label for="item_unitname">Message(optional)</label>
                        <textarea name="email_message" id="email_message" class="text-dark form-control" cols=""
                          rows="4" placeholder="This message will be sent along with Bill details."></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer d-flex justify-content-center" style="border-top: 1px solid #ffff;">
                    <input type="submit" id="share_with_email"
                      class="submitShareEmailBtn rounded-pill text-grey w-50 my-4 mx-3" value="SEND MAIL">
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>




      <script src="https://code.jquery.com/jquery-3.x.x.min.js"></script>


      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</section>
{% for message in messages %}

<script>
  let msg = '{{message}}';
  alert(msg);
</script>
{% endfor %}




<script>
  
  $(document).ready(function () {
    $('#share_with_email').on('click', function () {
      var emailsInput = document.getElementById('emailIds');
      var emailsString = emailsInput.value.trim();

      var emails = emailsString.split(',').map(function (email) {
        return email.trim();
      });

      var emailRegex = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/;

      var invalidEmails = []
      if (emailsString == "") {
        alert('Enter valid email addresses..')
      }
      else {
        for (var i = 0; i < emails.length; i++) {
          var currentEmail = emails[i];

          if (currentEmail != "" && !emailRegex.test(currentEmail)) {
            console.log(currentEmail + ' is invalid!');
            invalidEmails.push(currentEmail)
          }
        }

        if (invalidEmails.length > 0) {
          alert('Invalid emails..Please check!\n' + invalidEmails)
          // alert(invalidEmails)
        } else {
          $('#share_to_email_form').submit();
        }
      }
    })
  });


  function shareOnWhatsApp() {
    var url = window.location.href;
    var text = url;
    text = encodeURIComponent(text);
    var whatsappUrl = "whatsapp://send?text=" + text;
    window.location.href = whatsappUrl;
  }

  function exportToPDF() {
    var content = document.getElementById('selected-area');
    html2pdf()
      .from(content)
      .save('{{sale.employee_name.first_name}} {{sale.employee_month}}' + '.pdf')
  }

</script>

<script>
  // Get the div element by its ID
  var divElement = document.getElementById("orderinfo");

  // Get the height of the div using offsetHeight
  var divHeight = divElement.offsetHeight;

  var divElement = document.getElementById("productinfo");

  // Set the height of the div
  divElement.style.height = `${divHeight}px`;

  // Log the height to the console
</script>

<script>
  function printSelectedArea(area) {

    var printContents = document.getElementById("selected-area").innerHTML;
    document.getElementById("selected-area").style.backgroundColor = "white"
    var $printerDiv = $('<div class="printContainer bg-white"></div>'); // create the div that will contain the stuff to be printed
    $printerDiv.html(printContents); // add the content to be printed
    $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

    window.print(); // call print
    $printerDiv.remove(); // remove the div
    $('body').removeClass("printingContent");

  }

  function printSelectedArea2(area) {

    var printContents = document.getElementById("selected-area2").innerHTML;
    document.getElementById("selected-area2").style.backgroundColor = "white"
    var $printerDiv = $('<div class="printContainer bg-white"></div>'); // create the div that will contain the stuff to be printed
    $printerDiv.html(printContents); // add the content to be printed
    $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

    window.print(); // call print
    $printerDiv.remove(); // remove the div
    $('body').removeClass("printingContent");

  }
  function printSelectedArea3(area) {

    var printContents = document.getElementById("selected-area3").innerHTML;
    document.getElementById("selected-area3").style.backgroundColor = "white"
    var $printerDiv = $('<div class="printContainer bg-white"></div>'); // create the div that will contain the stuff to be printed
    $printerDiv.html(printContents); // add the content to be printed
    $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

    window.print(); // call print
    $printerDiv.remove(); // remove the div
    $('body').removeClass("printingContent");

  }
  function printSelectedArea4(area) {

    var printContents = document.getElementById("printslip").innerHTML;
    document.getElementById("printslip").style.backgroundColor = "white"
    var $printerDiv = $('<div class="printContainer bg-white"></div>'); // create the div that will contain the stuff to be printed
    $printerDiv.html(printContents); // add the content to be printed
    $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

    window.print(); // call print
    $printerDiv.remove(); // remove the div
    $('body').removeClass("printingContent");

  }
</script>

<script>

  const rows = document.querySelectorAll('.clickable');

  rows.forEach(row => {
    row.addEventListener('click', () => {
      var currentURL = window.location.href
      const rowId = row.id;
      var newURL = currentURL.replace(/\d+$/, rowId);
      window.location.href = newURL;
    });
  });





</script>

<script>


  function totemplate() {
    document.getElementById('templatediv').style.display = 'block'
    document.getElementById('overviewdiv').style.display = 'none'
    document.getElementById('templatediv2').style.display = 'none'
    document.getElementById('templatediv3').style.display = 'none'
    document.getElementById('slipdiv').style.display = 'none'

  }
  
  function tooverview() {
    document.getElementById('templatediv').style.display = 'none'
    document.getElementById('overviewdiv').style.display = 'block'
    document.getElementById('templatediv2').style.display = 'none'
    document.getElementById('templatediv3').style.display = 'none'
    document.getElementById('slipdiv').style.display = 'none'
  }
  function show_slip() {
    document.getElementById('templatediv').style.display = 'none'
    document.getElementById('overviewdiv').style.display = 'none'
    document.getElementById('templatediv2').style.display = 'none'
    document.getElementById('templatediv3').style.display = 'none'
    document.getElementById('slipdiv').style.display = 'block'
  }
</script>

<script>
  var $rows = $('#myTable tbody tr');
  $('#search').keyup(function () {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.hide().filter(function () {
      var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
      return ~text.indexOf(val);
    }).show();
  });

</script>

<script>
  // Function to sort the table by the selected column
  function sortTable() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;

    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 0; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("label")[0];
        y = rows[i + 1].getElementsByTagName("label")[0];

        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }


  function sortTablebybillno() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("myTable");
    switching = true;
    while (switching) {
      switching = false;
      rows = table.rows;

      for (i = 0; i < rows.length - 1; i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("p")[0];
        y = rows[i + 1].getElementsByTagName("p")[0];

        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }

      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }


</script>
<script>
  function numberToWords(number) {
                  // Array of words for numbers
                  const words = ["", "One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine"];
            const teens = ["", "Eleven", "Twelve", "Thirteen", "Fourteen", "Fifteen", "Sixteen", "Seventeen", "Eighteen", "Nineteen"];
            const tens = ["", "Ten", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty", "Ninety"];

            if (number === 0) {
                return "Zero";
            }

            function convertLessThanOneThousand(num) {
              if (num < 10) {
            return words[num];
              } 
              else if (num < 20) {
                  return teens[num - 10];
              } 
              else if (num < 100) {
                  return tens[Math.floor(num / 10)] + (num % 10 !== 0 ? " " + words[num % 10] : "");
              } 
              else if (num < 1000) {
                  return words[Math.floor(num / 100)] + " Hundred" + (num % 100 !== 0 ? " " + convertLessThanOneThousand(num % 100) : "");
              } 
              else if (num < 10000) {
                  return words[Math.floor(num / 1000)] + " Thousand" + (num % 1000 !== 0 ? " " + convertLessThanOneThousand(num % 1000) : "");
              } 
              else if (num < 20000) {
                  return "Ten Thousand " + convertLessThanOneThousand(num % 10000);
              } 
              else if (num < 100000) {
                  return words[Math.floor(num / 10000)] + " Thousand" + (num % 10000 !== 0 ? " " + convertLessThanOneThousand(num % 10000) : "");
              } 
              else if (num < 1000000) {
                  return words[Math.floor(num / 100000)] + " Lakh" + (num % 100000 !== 0 ? " " + convertLessThanOneThousand(num % 100000) : "");
              } 
              else {
                  return "Number out of range";
              }

            }

            let result = "";

            if (number < 0) {
                result += "Negative ";
                number = Math.abs(number);
            }
            if (number == 10000) {
                result += convertLessThanOneThousand(Math.floor(number / 1000)) + " TenThousand ";
                number %= 1000;
              }


            if (number <= 1000000) {
                result += convertLessThanOneThousand(Math.floor(number / 1000)) + " Thousand ";
                number %= 1000;
            }

            result += convertLessThanOneThousand(number);

            return result.trim();

           
            
        }


  window.onload = function() {
      const cellValue = document.getElementById("salaryCell").textContent;
      const numericValue = parseFloat(cellValue);
      const words = numberToWords(numericValue);
      document.getElementById("salaryCell").textContent = words;


  };
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const salary = parseFloat(document.getElementById("salary").value);
      const bsalary = parseFloat(document.getElementById("bsalary").value);
      const hra = parseFloat(document.getElementById("hra").value);
      const Allowance = parseFloat(document.getElementById("Allowance").value);
      const otherall = parseFloat(document.getElementById("otherall").value);

      const hraMultiplier = hra / 100;
      const hravalue = salary * hraMultiplier;
      document.getElementById("salaryhra").textContent = hravalue.toFixed(2); // Adjust decimal places as needed

      const Allowancemul = Allowance / 100;
      const Allvalue = salary * Allowancemul;
      document.getElementById("salaryall").textContent = Allvalue.toFixed(2); // Adjust decimal places as needed

      const oAllowancemul = otherall / 100;
      const oAllvalue = salary * oAllowancemul;
      document.getElementById("salaryallo").textContent = oAllvalue.toFixed(2); // Adjust decimal places as needed

      const basicmul = bsalary / 100;
      const bvalue = salary * basicmul;
      document.getElementById("basalary").textContent = bvalue.toFixed(2); // Adjust decimal places as needed
});

</script>



{% endblock %}